*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    padding: 20px;
}

.container {
    background-color: #1f1f1f;
    border-radius: 15px;
    padding: 40px;
    max-width: 375px;
    width: 100vh;
    text-align: center;
}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 25px;
    object-fit: cover;
}

h1 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.location {
    color: #8fda16;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px ;
}

.bio { 
    color: #424141;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-links a{
    background-color: #303030;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 550;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
}

.social-links a:hover{
    background-color: #94bd0e;
    color: #333333;
}


@media (min-width: 768px){
    .container {
        .container{
            max-width: 1440px;
        }
    }
}

@media (max-width: 1440px){
    .container {
        padding: 40px;
    }
}
